<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Roboto:wght@300&display=swap">

</head>

<body>

    <header>
        <div class="logoBusqueda">
        <img src="/images/logo-mercado-liebre.svg" alt="Acá logo">

        <div class=busqueda>
            
        </div>
        </div>

        <p class="comprá"> <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>

        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="fondo">
            <img src="/images/img-home-banner.jpg" class="banner">
        </div>

        <nav class="lista">

            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>

            <ul>
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>

    </header>

    <br><br>


    <main>

        <h3>Basado en tu última visita</h3>
        <section class="visita">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Acá cafetera">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                    <p class="precio">$6770</p>
                    <p class="desc">40%off</p>
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Acá notebook">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Acá celular">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Acá tv">
                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                    <h4>Smart TV Samsung 43"</h4>
                    </div>
            </article>

        </section>

        <h3>Sección de Ofertas</h3>

        <section class="oferta">

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Acá cafetera">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Acá notebook">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                        <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Acá celular">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Acá tv">

                <div class="articuloSolo">
                    <div class="transporte">
                        <a href=""><i class="fa-solid fa-truck"></i></a>
                    </div>
                    <div class="precioDescuento">
                        <p class="precio">$6770</p>
                        <p class="desc">40%off</p>
                        </div>
                    <h4>Smart TV Samsung 43"</h4>
                </div>
            </article>

        </section>
    </main>
    <br><br>


    <footer>
        <div class=pie>
        <div class="tarjeta">
            <i class="fa-solid fa-credit-card"></i>
            <p class="titulo">Pagá con tarjeta o en efectivo</p>
            <p class="text">Con Mercado Liebre Cash, tenés cuotas sin
                interés con tarjeta o efectivo en puntos de
                pago.¡Y siempre es seguro!</p>
        </div>

        <div class="caja">
            <i class="fa-solid fa-box"></i>
            <p class="titulo">Envío gratis desde $2.500</p>
            <p class="text">Solo por estar registrad@ en Mercado Liebre
                tenés envios gratis en miles de productos. Es
                un beneficio de Mercado Puntos.</p>
        </div>

        <div class="seguridad">
            <i class="fa-solid fa-shield-blank"></i>
            <p class="titulo">Seguridad, de principio a fin</p>
            <p class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                no hay nada que no puedas hacer, porque estás
                siempre protegid@.</p>
        </div>
    </div>
    

        <p class="otro"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        

    </footer>


</body>

</html>